/* Category Style */
.user-custom-bg {
    background-color: #800000;
    color: #fff;
    transition: background-color 0.3s ease;
    border-top-right-radius: 5px;
}

/* Profile Size */
.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 10px; 
}

/* NavBar Style */
.user-nav {
    height: 100vh;
}

/* Table Style */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.custom-table th,
.custom-table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.custom-table thead {
    background-color: #800000; 
    color: #fff; 
}

.custom-table tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 192, 203, 0.5);
}

.table-container {
    text-align: center;
}

.payment-body{
    background-color: #f8bbd0;
}